@using DAOs.Common;
@{
    //if(!WebSecurity.IsAuthenticated)
    //{
    //Response.Redirect("~/Home/Login");
    //}

    Page.Title = "Dashboard Skyfire Team - Hệ Thống Website Ứng Dụng Quản Lý Sàn Thương Mại Điện Tử";
}

@Scripts.Render("~/bundles/dashboard")
@Scripts.Render("~/bundles/hethongheaderjs")
@Scripts.Render("~/bundles/hethongmenujs")


<div class="wrapper" ng-app="QuanLyTrangChuModule" ng-controller="commonCtrl" ng-cloak>

    @Html.Partial("~/Views/Shared/_HeThong_Header.cshtml")

    @Html.Partial("~/Views/Shared/_HeThong_Menu.cshtml")
    <loading></loading>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" ng-controller='QuanLyTrangChuControl' ng-init='' click-event-listener ng-cloak>
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Dashboard
                <small>Skyfire Team</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Info boxes -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="fa fa-home"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Số Cửa Hàng</span>
                            <span class="info-box-number">{{model.form.thongkehethong.tongcuahang | number}}</span>
                            <span class="info-box-text">Cửa Hàng</span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </div><!-- /.col -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-red"><i class="fa fa-cubes"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Số Sản Phẩm</span>
                            <span class="info-box-number">{{model.form.thongkehethong.tongsanpham | number}}</span>
                            <span class="info-box-text">Sản Phẩm</span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </div><!-- /.col -->
                <!-- fix for small devices only -->
                <div class="clearfix visible-sm-block"></div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">

                        <span class="info-box-icon bg-yellow"><i class="fa fa-users"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Số Khách Hàng</span>
                            <span class="info-box-number">{{model.form.thongkehethong.tongkhachhang | number}}</span>
                            <span class="info-box-text">Khách Hàng</span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </div><!-- /.col -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="fa fa-comments"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Luợt Phản Hồi</span>
                            <span class="info-box-number">{{model.form.thongkehethong.tongluotdanhgiabinhluan | number}}</span>
                            <span class="info-box-text">Lượt</span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </div><!-- /.col -->
            </div><!-- /.row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title"><i class="fa fa-line-chart"></i> Báo Cáo Tóm Tắt Năm @DateTime.Now.Year</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" ng-click="doThongKe()">
                                    <i class="fa fa-refresh"></i>
                                </button>
                                @*<div class="btn-group">
                                      <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i></button>
                                      <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                      </ul>
                                    </div>*@
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-center">
                                        <strong>Thống Kê Lượt Giao Dịch Trong Năm @DateTime.Now.Year</strong>
                                    </p>
                                    <div class="chart-responsive">
                                        <!-- Sales Chart Canvas -->
                                        <canvas id="salesChart" height="300"></canvas>
                                    </div><!-- /.chart-responsive -->
                                </div><!-- /.col -->
                                @*<div class="col-md-4">
                                      <p class="text-center">
                                        <strong>Thống Kê So Với Năm Trước</strong>
                                      </p>
                                      <div class="progress-group">
                                        <span class="progress-text">Sản Phẩm Mới</span>
                                        <span class="progress-number"><b>160</b>/1000</span>
                                        <div class="progress sm">
                                          <div class="progress-bar progress-bar-aqua" style="width: 10%"></div>
                                        </div>
                                      </div><!-- /.progress-group -->
                                      <div class="progress-group">
                                        <span class="progress-text">Lượt Bình Luận</span>
                                        <span class="progress-number"><b>310</b>/400</span>
                                        <div class="progress sm">
                                          <div class="progress-bar progress-bar-red" style="width: 30%"></div>
                                        </div>
                                      </div><!-- /.progress-group -->
                                      <div class="progress-group">
                                        <span class="progress-text">Thành Viên Mới</span>
                                        <span class="progress-number"><b>480</b>/800</span>
                                        <div class="progress sm">
                                          <div class="progress-bar progress-bar-green" style="width: 45%"></div>
                                        </div>
                                      </div><!-- /.progress-group -->
                                      <div class="progress-group">
                                        <span class="progress-text">Số Lượng Hóa Đơn Mới</span>
                                        <span class="progress-number"><b>250</b>/500</span>
                                        <div class="progress sm">
                                          <div class="progress-bar progress-bar-yellow" style="width: 6%"></div>
                                        </div>
                                      </div><!-- /.progress-group -->
                                    </div><!-- /.col -->*@
                            </div><!-- /.row -->
                        </div><!-- ./box-body -->
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-sm-3 col-xs-6">
                                    <div class="description-block border-right">
                                        <span class="description-percentage text-green" ng-if="model.form.danhgia.phantramtoansan > 0">
                                            <i class="fa fa-caret-up"></i> {{model.form.danhgia.phantramtoansan | number:0}}%
                                        </span>
                                        <span class="description-percentage text-yellow" ng-if="model.form.danhgia.phantramtoansan == 0">
                                            {{model.form.danhgia.phantramtoansan | number}}%
                                        </span>
                                        <span class="description-percentage text-red" ng-if="model.form.danhgia.phantramtoansan < 0">
                                            <i class="fa fa-caret-down"></i> {{model.form.danhgia.phantramtoansan | number:0}}%
                                        </span>
                                        <h5 class="description-header">{{model.form.danhgia.tonggiatritoansan | number:0}} VNĐ</h5>
                                        <span class="description-text">Tổng Giá Trị Toàn Sàn</span>
                                    </div><!-- /.description-block -->
                                </div><!-- /.col -->
                                <div class="col-sm-3 col-xs-6">
                                    <div class="description-block border-right">
                                        <span class="description-percentage text-green" ng-if="model.form.danhgia.phantramkhoiluong > 0">
                                            <i class="fa fa-caret-up"></i> {{model.form.danhgia.phantramkhoiluong | number:0}}%
                                        </span>
                                        <span class="description-percentage text-yellow" ng-if="model.form.danhgia.phantramkhoiluong == 0">
                                            {{model.form.danhgia.phantramkhoiluong | number:0}}%
                                        </span>
                                        <span class="description-percentage text-red" ng-if="model.form.danhgia.phantramkhoiluong < 0">
                                            <i class="fa fa-caret-down"></i> {{model.form.danhgia.phantramkhoiluong | number:0}}%
                                        </span>
                                        <h5 class="description-header">{{model.form.danhgia.khoiluonggiaodich | number:0}} Lượt</h5>
                                        <span class="description-text">Khối Lượng Giao Dịch</span>
                                    </div><!-- /.description-block -->
                                </div><!-- /.col -->
                                <div class="col-sm-3 col-xs-6">
                                    <div class="description-block border-right">
                                        <span class="description-percentage text-green" ng-if="model.form.danhgia.phantramtonggiatri > 0">
                                            <i class="fa fa-caret-up"></i> {{model.form.danhgia.phantramtonggiatri | number:0}}%
                                        </span>
                                        <span class="description-percentage text-yellow" ng-if="model.form.danhgia.phantramtonggiatri == 0">
                                            {{model.form.danhgia.phantramtonggiatri | number:0}}%
                                        </span>
                                        <span class="description-percentage text-red" ng-if="model.form.danhgia.phantramtonggiatri < 0">
                                            <i class="fa fa-caret-down"></i> {{model.form.danhgia.phantramtonggiatri | number:0}}%
                                        </span>
                                        <h5 class="description-header">{{model.form.danhgia.tonggiatrigiaodich | number:0}} VNĐ</h5>
                                        <span class="description-text">Tổng Giá Trị Giao Dịch</span>
                                    </div><!-- /.description-block -->
                                </div><!-- /.col -->
                                <div class="col-sm-3 col-xs-6">
                                    <div class="description-block">
                                        <span class="description-percentage text-green" ng-if="model.form.danhgia.phantramloinhuan > 0">
                                            <i class="fa fa-caret-up"></i> {{model.form.danhgia.phantramloinhuan | number:0}}%
                                        </span>
                                        <span class="description-percentage text-yellow" ng-if="model.form.danhgia.phantramloinhuan == 0">
                                            {{model.form.danhgia.phantramloinhuan | number:0}}%
                                        </span>
                                        <span class="description-percentage text-red" ng-if="model.form.danhgia.phantramloinhuan < 0">
                                            <i class="fa fa-caret-down"></i> {{model.form.danhgia.phantramloinhuan | number:0}}%
                                        </span>
                                        <h5 class="description-header">{{model.form.danhgia.tonggiatriloinhuan | number:0}} VNĐ</h5>
                                        <span class="description-text">TỔNG DOANH THU CHO SKYFIRE</span>
                                    </div><!-- /.description-block -->
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /.box-footer -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
            </div><!-- /.row -->
            <!-- Main row -->
            <div class="row">
                <div class="col-md-7">
                    <!-- TABLE: LATEST ORDERS -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title"><i class="fa fa fa-home"></i> Cửa Hàng Có Doanh Thu Cao Nhất Trong Tháng @DateTime.Now.Month Năm @DateTime.Now.Year</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" ng-click="getDanhSachCuaHang(@DateTime.Now.Month, @DateTime.Now.Year)"><i class="fa fa-refresh"></i></button>
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table no-margin table-striped table-condensed table-hover"  id="table-search">
                                    <thead class="">
                                        <tr>
                                            <th col-sort predicate="'TENCUAHANG'" by="predicate" reverse="reverse" width="30%" class="text-center">
                                                Tên Cửa Hàng
                                            </th>
                                            <th col-sort predicate="'CHUNGNHAN'" by="predicate" reverse="reverse" width="15%" class="text-center">
                                                Loại
                                            </th>
                                            <th col-sort predicate="'TENCUAHANG'" by="predicate" reverse="reverse" width="25%" class="text-center">
                                                Tên Chủ Cửa Hàng
                                            </th>
                                            <th col-sort predicate="'DOANHTHU'" by="predicate" reverse="reverse" width="30%" class="text-center">
                                                Tổng Doanh Thu
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in model.form.listDSCuaHang | orderBy : predicate : reverse">
                                            <td><a href="/HeThong/ChiTietCuaHang?macuahang={{row.MACUAHANG}}">{{row.TENCUAHANG}}</a></td>
                                            <td class="text-center">
                                                <span class="label label-default" ng-if="row.CHUNGNHAN == 0">Shop</span>
                                                <span class="label label-danger" ng-if="row.CHUNGNHAN == 1">VIP 1</span>
                                                <span class="label label-info" ng-if="row.CHUNGNHAN == 2">VIP 2</span>
                                                <span class="label label-success" ng-if="row.CHUNGNHAN == 3">VIP 3</span>
                                            </td>
                                            <td>{{row.TENCUAHANG}}</td>
                                            <td class="text-right">{{row.DOANHTHU | number}} @AppConstraints.VND</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!-- /.table-responsive -->
                        </div><!-- /.box-body -->
                        <div class="box-footer clearfix">
                            <a href="/HeThong/ThongKeCuaHang" class="btn btn-sm btn-default btn-flat pull-right">Xem Toàn Bộ Cửa Hàng</a>
                        </div><!-- /.box-footer -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
                <div class="col-md-5">
                    <!-- PRODUCT LIST -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title"><i class="fa fa-shopping-cart"></i> Hóa Đơn Giá Trị Cao Nhất</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" ng-click="getDanhSachCuaHang(@DateTime.Now.Month, @DateTime.Now.Year)"><i class="fa fa-refresh"></i></button>
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <ul class="products-list product-list-in-box">
                                <li class="item" ng-repeat="row in model.form.listDSHoaDon">
                                    <div class="product-img">
                                        <a href="/HeThong/ChiTietCuaHang?macuahang={{row.MACUAHANG}}" title="">
                                            <img ng-if="row.AVATARCUAHANG !== '@AppConstraints.SHOP_NOIMAGE'"
                                                 ng-src="~/Images/CuaHang/{{row.MACUAHANG}}/{{row.AVATARCUAHANG}}" 
                                                 alt="{{row.AVATARCUAHANG}}" 
                                                 title="{{row.AVATARCUAHANG}}" />
                                            <img ng-if="row.AVATARCUAHANG === '@AppConstraints.SHOP_NOIMAGE'"
                                                 ng-src="~/Images/CuaHang/Shop_No_Avatar.png"
                                                 alt="Cửa Hàng Không Có Ảnh Đại Diện."
                                                 title="Cửa Hàng Không Có Ảnh Đại Diện." />
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <a href="/HeThong/ChiTietCuaHang?macuahang={{row.MACUAHANG}}" class="product-title">Số:&nbsp;{{row.SOHOADON}}
                                        <span class="label label-success pull-right">{{row.TONGTIEN | number}}</span></a>
                                        <span class="product-description">Ngày Lập Hóa Đơn:&nbsp;{{row.NGAYLAP | date:'dd/MM/yyyy HH:mm'}}
                                        </span>
                                    </div>
                                </li><!-- /.item -->
                            </ul>
                        </div><!-- /.box-body -->
                        <div class="box-footer text-center">
                            <a href="/HeThong/QuanLySanPham" class="uppercase">Xem Toàn Bộ Sản Phẩm</a>
                        </div><!-- /.box-footer -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
            </div><!-- /.row -->

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
    @Html.Partial("~/Views/Shared/_HeThong_Footer.cshtml")
</div>