@{
    //if(!WebSecurity.IsAuthenticated)
    //{
    //Response.Redirect("~/Home/Login");
    //}

    Page.Title = "Dashboard Skyfire Team - Hệ Thống Website Ứng Dụng Quản Lý Sàn Thương Mại Điện Tử";
}

@Scripts.Render("~/bundles/dashboard")
@Scripts.Render("~/bundles/hethongheaderjs")
@Scripts.Render("~/bundles/hethongmenujs")


<div class="wrapper" ng-app="QuanLyTrangChuModule" ng-controller="commonCtrl" ng-cloak>

    @Html.Partial("~/Views/Shared/_HeThong_Header.cshtml")

    @Html.Partial("~/Views/Shared/_HeThong_Menu.cshtml")
    <loading></loading>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" ng-controller='QuanLyTrangChuControl' ng-init='' click-event-listener ng-cloak>
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Dashboard
                <small>Skyfire Team</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Info boxes -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="fa fa-home"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Số Cửa Hàng</span>
                            <span class="info-box-number">{{model.form.thongkehethong.tongcuahang | number}}</span>
                            <span class="info-box-text">Cửa Hàng</span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </div><!-- /.col -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-red"><i class="fa fa-cubes"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Số Sản Phẩm</span>
                            <span class="info-box-number">{{model.form.thongkehethong.tongsanpham | number}}</span>
                            <span class="info-box-text">Sản Phẩm</span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </div><!-- /.col -->
                <!-- fix for small devices only -->
                <div class="clearfix visible-sm-block"></div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">

                        <span class="info-box-icon bg-yellow"><i class="fa fa-users"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Số Khách Hàng</span>
                            <span class="info-box-number">{{model.form.thongkehethong.tongkhachhang | number}}</span>
                            <span class="info-box-text">Khách Hàng</span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </div><!-- /.col -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="fa fa-comments"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Luợt Phản Hồi</span>
                            <span class="info-box-number">{{model.form.thongkehethong.tongluotdanhgiabinhluan | number}}</span>
                            <span class="info-box-text">Lượt</span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </div><!-- /.col -->
            </div><!-- /.row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title"><i class="fa fa-line-chart"></i> Báo Cáo Tóm Tắt Năm @DateTime.Now.Year</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" ng-click="doThongKe()">
                                    <i class="fa fa-refresh"></i>
                                </button>
                                @*<div class="btn-group">
                                      <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i></button>
                                      <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                      </ul>
                                    </div>*@
                                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-center">
                                        <strong>Thống Kê Lượt Giao Dịch Trong Năm @DateTime.Now.Year</strong>
                                    </p>
                                    <div class="chart-responsive">
                                        <!-- Sales Chart Canvas -->
                                        <canvas id="salesChart" height="300"></canvas>
                                    </div><!-- /.chart-responsive -->
                                </div><!-- /.col -->
                                @*<div class="col-md-4">
                                      <p class="text-center">
                                        <strong>Thống Kê So Với Năm Trước</strong>
                                      </p>
                                      <div class="progress-group">
                                        <span class="progress-text">Sản Phẩm Mới</span>
                                        <span class="progress-number"><b>160</b>/1000</span>
                                        <div class="progress sm">
                                          <div class="progress-bar progress-bar-aqua" style="width: 10%"></div>
                                        </div>
                                      </div><!-- /.progress-group -->
                                      <div class="progress-group">
                                        <span class="progress-text">Lượt Bình Luận</span>
                                        <span class="progress-number"><b>310</b>/400</span>
                                        <div class="progress sm">
                                          <div class="progress-bar progress-bar-red" style="width: 30%"></div>
                                        </div>
                                      </div><!-- /.progress-group -->
                                      <div class="progress-group">
                                        <span class="progress-text">Thành Viên Mới</span>
                                        <span class="progress-number"><b>480</b>/800</span>
                                        <div class="progress sm">
                                          <div class="progress-bar progress-bar-green" style="width: 45%"></div>
                                        </div>
                                      </div><!-- /.progress-group -->
                                      <div class="progress-group">
                                        <span class="progress-text">Số Lượng Hóa Đơn Mới</span>
                                        <span class="progress-number"><b>250</b>/500</span>
                                        <div class="progress sm">
                                          <div class="progress-bar progress-bar-yellow" style="width: 6%"></div>
                                        </div>
                                      </div><!-- /.progress-group -->
                                    </div><!-- /.col -->*@
                            </div><!-- /.row -->
                        </div><!-- ./box-body -->
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-sm-3 col-xs-6">
                                    <div class="description-block border-right">
                                        <span class="description-percentage text-green" ng-if="model.form.danhgia.phantramtoansan > 0">
                                            <i class="fa fa-caret-up"></i> {{model.form.danhgia.phantramtoansan}}%
                                        </span>
                                        <span class="description-percentage text-yellow" ng-if="model.form.danhgia.phantramtoansan == 0">
                                            {{model.form.danhgia.phantramtoansan}}%
                                        </span>
                                        <span class="description-percentage text-red" ng-if="model.form.danhgia.phantramtoansan < 0">
                                            <i class="fa fa-caret-down"></i> {{model.form.danhgia.phantramtoansan}}%
                                        </span>
                                        <h5 class="description-header">{{model.form.danhgia.tonggiatritoansan | number}} VNĐ</h5>
                                        <span class="description-text">Tổng Giá Trị Toàn Sàn</span>
                                    </div><!-- /.description-block -->
                                </div><!-- /.col -->
                                <div class="col-sm-3 col-xs-6">
                                    <div class="description-block border-right">
                                        <span class="description-percentage text-green" ng-if="model.form.danhgia.phantramkhoiluong > 0">
                                            <i class="fa fa-caret-up"></i> {{model.form.danhgia.phantramkhoiluong}}%
                                        </span>
                                        <span class="description-percentage text-yellow" ng-if="model.form.danhgia.phantramkhoiluong == 0">
                                            <i class="fa fa-circle"></i> {{model.form.danhgia.phantramkhoiluong}}%
                                        </span>
                                        <span class="description-percentage text-red" ng-if="model.form.danhgia.phantramkhoiluong < 0">
                                            {{model.form.danhgia.phantramkhoiluong}}%
                                        </span>
                                        <h5 class="description-header">{{model.form.danhgia.khoiluonggiaodich | number}} Lượt</h5>
                                        <span class="description-text">Khối Lượng Giao Dịch</span>
                                    </div><!-- /.description-block -->
                                </div><!-- /.col -->
                                <div class="col-sm-3 col-xs-6">
                                    <div class="description-block border-right">
                                        <span class="description-percentage text-green" ng-if="model.form.danhgia.phantramtonggiatri > 0">
                                            <i class="fa fa-caret-up"></i> {{model.form.danhgia.phantramtonggiatri}}%
                                        </span>
                                        <span class="description-percentage text-yellow" ng-if="model.form.danhgia.phantramtonggiatri == 0">
                                            {{model.form.danhgia.phantramtonggiatri}}%
                                        </span>
                                        <span class="description-percentage text-red" ng-if="model.form.danhgia.phantramtonggiatri < 0">
                                            <i class="fa fa-caret-down"></i> {{model.form.danhgia.phantramtonggiatri}}%
                                        </span>
                                        <h5 class="description-header">{{model.form.danhgia.tonggiatrigiaodich | number}} VNĐ</h5>
                                        <span class="description-text">Tổng Giá Trị Giao Dịch</span>
                                    </div><!-- /.description-block -->
                                </div><!-- /.col -->
                                <div class="col-sm-3 col-xs-6">
                                    <div class="description-block">
                                        <span class="description-percentage text-green" ng-if="model.form.danhgia.phantramdoanhthu > 0">
                                            <i class="fa fa-caret-up"></i> {{model.form.danhgia.phantramdoanhthu}}%
                                        </span>
                                        <span class="description-percentage text-yellow" ng-if="model.form.danhgia.phantramdoanhthu == 0">
                                            {{model.form.danhgia.phantramdoanhthu}}%
                                        </span>
                                        <span class="description-percentage text-red" ng-if="model.form.danhgia.phantramdoanhthu < 0">
                                            <i class="fa fa-caret-down"></i> {{model.form.danhgia.phantramdoanhthu}}%
                                        </span>
                                        <h5 class="description-header">{{model.form.danhgia.tongdoanhthu | number:0}} VNĐ</h5>
                                        <span class="description-text">TỔNG DOANH THU CHO SKYFIRE</span>
                                    </div><!-- /.description-block -->
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /.box-footer -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
            </div><!-- /.row -->
            <!-- Main row -->
            <div class="row">
                <div class="col-md-8">
                    <!-- TABLE: LATEST ORDERS -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title"><i class="fa fa-bar-chart"></i> Lượt Đặt Hàng Giá Trị Cao Nhất</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool"><i class="fa fa-refresh"></i></button>
                                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table no-margin table-striped">
                                    <thead>
                                        <tr>
                                            <th>Số Hóa Đơn</th>
                                            <th>Tổn Sản Phẩm</th>
                                            <th>Tổng Tiền</th>
                                            <th>Ngày Tạo</th>
                                            <th>Người Mua</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="pages/examples/invoice.html">OR9842</a></td>
                                            <td>Call of Duty IV</td>
                                            <td><span class="label label-success">Shipped</span></td>
                                            <td><div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div></td>
                                        </tr>
                                        <tr>
                                            <td><a href="pages/examples/invoice.html">OR1848</a></td>
                                            <td>Samsung Smart TV</td>
                                            <td><span class="label label-warning">Pending</span></td>
                                            <td><div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div></td>
                                        </tr>
                                        <tr>
                                            <td><a href="pages/examples/invoice.html">OR7429</a></td>
                                            <td>iPhone 6 Plus</td>
                                            <td><span class="label label-danger">Delivered</span></td>
                                            <td><div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div></td>
                                        </tr>
                                        <tr>
                                            <td><a href="pages/examples/invoice.html">OR7429</a></td>
                                            <td>Samsung Smart TV</td>
                                            <td><span class="label label-info">Processing</span></td>
                                            <td><div class="sparkbar" data-color="#00c0ef" data-height="20">90,80,-90,70,-61,83,63</div></td>
                                        </tr>
                                        <tr>
                                            <td><a href="pages/examples/invoice.html">OR1848</a></td>
                                            <td>Samsung Smart TV</td>
                                            <td><span class="label label-warning">Pending</span></td>
                                            <td><div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div></td>
                                        </tr>
                                        <tr>
                                            <td><a href="pages/examples/invoice.html">OR7429</a></td>
                                            <td>iPhone 6 Plus</td>
                                            <td><span class="label label-danger">Delivered</span></td>
                                            <td><div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div></td>
                                        </tr>
                                        <tr>
                                            <td><a href="pages/examples/invoice.html">OR7429</a></td>
                                            <td>Samsung Smart TV</td>
                                            <td><span class="label label-info">Processing</span></td>
                                            <td><div class="sparkbar" data-color="#00c0ef" data-height="20">90,80,-90,70,-61,83,63</div></td>
                                        </tr>
                                        <tr>
                                            <td><a href="pages/examples/invoice.html">OR1848</a></td>
                                            <td>Samsung Smart TV</td>
                                            <td><span class="label label-warning">Pending</span></td>
                                            <td><div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div></td>
                                        </tr>
                                        <tr>
                                            <td><a href="pages/examples/invoice.html">OR7429</a></td>
                                            <td>iPhone 6 Plus</td>
                                            <td><span class="label label-danger">Delivered</span></td>
                                            <td><div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div></td>
                                        </tr>
                                        <tr>
                                            <td><a href="pages/examples/invoice.html">OR7429</a></td>
                                            <td>Samsung Smart TV</td>
                                            <td><span class="label label-info">Processing</span></td>
                                            <td><div class="sparkbar" data-color="#00c0ef" data-height="20">90,80,-90,70,-61,83,63</div></td>
                                        </tr>
                                        <tr>
                                            <td><a href="pages/examples/invoice.html">OR1848</a></td>
                                            <td>Samsung Smart TV</td>
                                            <td><span class="label label-warning">Pending</span></td>
                                            <td><div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div></td>
                                        </tr>
                                        <tr>
                                            <td><a href="pages/examples/invoice.html">OR7429</a></td>
                                            <td>iPhone 6 Plus</td>
                                            <td><span class="label label-danger">Delivered</span></td>
                                            <td><div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div></td>
                                        </tr>
                                        <tr>
                                            <td><a href="pages/examples/invoice.html">OR9842</a></td>
                                            <td>Call of Duty IV</td>
                                            <td><span class="label label-success">Shipped</span></td>
                                            <td><div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div></td>
                                        </tr>
                                        <tr>
                                            <td><a href="pages/examples/invoice.html">OR9842</a></td>
                                            <td>Call of Duty IV</td>
                                            <td><span class="label label-success">Shipped</span></td>
                                            <td><div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!-- /.table-responsive -->
                        </div><!-- /.box-body -->
                        <div class="box-footer clearfix">
                            <a href="javascript::;" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
                            <a href="javascript::;" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
                        </div><!-- /.box-footer -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
                <div class="col-md-4">
                    <!-- PRODUCT LIST -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title"><i class="fa fa-archive"></i> Sản Phẩm Mới Nhất</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <ul class="products-list product-list-in-box">
                                <li class="item">
                                    <div class="product-img">
                                        <img src="http://placehold.it/50x50/d2d6de/ffffff" alt="Product Image" />
                                    </div>
                                    <div class="product-info">
                                        <a href="javascript::;" class="product-title">Samsung TV <span class="label label-warning pull-right">$1800</span></a>
                                        <span class="product-description">
                                            Samsung 32" 1080p 60Hz LED Smart HDTV.
                                        </span>
                                    </div>
                                </li><!-- /.item -->
                                <li class="item">
                                    <div class="product-img">
                                        <img src="~/Images/default-50x50.gif" alt="Product Image" />
                                    </div>
                                    <div class="product-info">
                                        <a href="javascript::;" class="product-title">Bicycle <span class="label label-info pull-right">$700</span></a>
                                        <span class="product-description">
                                            26" Mongoose Dolomite Men's 7-speed, Navy Blue.
                                        </span>
                                    </div>
                                </li><!-- /.item -->
                                <li class="item">
                                    <div class="product-img">
                                        <img src="~/Images/default-50x50.gif" alt="Product Image" />
                                    </div>
                                    <div class="product-info">
                                        <a href="javascript::;" class="product-title">Xbox One <span class="label label-danger pull-right">$350</span></a>
                                        <span class="product-description">
                                            Xbox One Console Bundle with Halo Master Chief Collection.
                                        </span>
                                    </div>
                                </li><!-- /.item -->
                                <li class="item">
                                    <div class="product-img">
                                        <img src="~/Images/default-50x50.gif" alt="Product Image" />
                                    </div>
                                    <div class="product-info">
                                        <a href="javascript::;" class="product-title">PlayStation 4 <span class="label label-success pull-right">$399</span></a>
                                        <span class="product-description">
                                            PlayStation 4 500GB Console (PS4)
                                        </span>
                                    </div>
                                </li><!-- /.item -->
                            </ul>
                        </div><!-- /.box-body -->
                        <div class="box-footer text-center">
                            <a href="/HeThong/QuanLySanPham" class="uppercase">Xem Toàn Bộ Sản Phẩm</a>
                        </div><!-- /.box-footer -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
            </div><!-- /.row -->

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
    @Html.Partial("~/Views/Shared/_HeThong_Footer.cshtml")
</div>