@using DBTruyXuat.Common;
@using TruyXuatDB;
@using TruyXuatDB.DAO;
@using TruyXuatDB.DTO;

@{
    Page.Title = "Trang Chủ";

    BanTinDAO BanTinDAO = new BanTinDAO();
    TheLoaiDAO theLoaiDAO = new TheLoaiDAO();
}
@Html.Partial("~/Views/Shared/_Layout_TinTuc_Header.cshtml")
@Html.Partial("~/Views/Shared/_Layout_TinTuc_Menu.cshtml")


<!--End sideblock-->
<div class="mainblock left">
    <div class="news_top">
        
































        <div class="news_hot">
            <span class="news_title_event">Sự kiện mới nhất</span>
            <ul class="news_hot_list">
                @{
                    List<View_QuanLyBanTin_BanTin> dsSuKien = BanTinDAO.getDanhSachSuKienMoiNhat();
                }

                @foreach (var itemBanTin in dsSuKien)
                {
                    <li>
                        <a class="news_hot_img" 
                           href="~/TinTuc/BanTin/@itemBanTin.MABANTIN">
                            <img src="~/Images/HinhAnhBanTin/@itemBanTin.HINHANH" alt="@itemBanTin.TIEUDE" 
                                 title="@itemBanTin.TIEUDE">
                        </a>
                        <a class="news_title_h" 
                           href="~/TinTuc/BanTin/@itemBanTin.MABANTIN">
                            @itemBanTin.NOIDUNGTOMTAT.Substring(0,50)</a>
                    </li>
                }
            </ul>
        </div>
        <!--End news_hot-->

    </div>
    <!--End news_top-->

    @{
        
        Request_QuanLyTheLoai_ParamTimKiem param = new Request_QuanLyTheLoai_ParamTimKiem();
        List<View_QuanLyTheLoai_TheLoai> dsTheLoaiTrangChu = theLoaiDAO.getDanhSachTheLoai(param);
    }

    @foreach (var itemTheLoai in dsTheLoaiTrangChu)
    {
        <div class="blocknews clr">
            <div class="tabnews">
                <h3>@itemTheLoai.TENTHELOAI</h3>
                <ul class="tablist">
                </ul>
                <!---End Tablist-->
            </div>
            <ul class="list_news">
                @{
        List<View_QuanLyBanTin_BanTin> dsBanTinTrangChu = BanTinDAO.getDanhSachBanTin_TrangChu(itemTheLoai.MATHELOAI);
                }

                @foreach (var itemBanTin in dsBanTinTrangChu)
                {
                    <li>
                        <a href="~/TinTuc/BanTin/@itemBanTin.MABANTIN">
                            <img src="~/Images/HinhAnhBanTin/@itemBanTin.HINHANH" 
                                alt="@itemBanTin.TIEUDE"></a>
                        <a href="~/TinTuc/BanTin/@itemBanTin.MABANTIN" 
                            class="news_title">@itemBanTin.NOIDUNGTOMTAT.Substring(0, 70)...</a>
                    </li>
                }

            </ul>

        </div>
    }

</div>
<!--End mainblock-->

@Html.Partial("~/Views/Shared/_Layout_TinTuc_Footer.cshtml")








