@{

    Page.Title = "Quản Lý Danh Mục - Dashboard Skyfire Team";
}
@Scripts.Render("~/bundles/dashboard")
@Scripts.Render("~/bundles/hethongheaderjs")
@Scripts.Render("~/bundles/hethongmenujs")

@Scripts.Render("~/bundles/themnhanvienjs")
@Scripts.Render("~/bundles/capnhatnhanvienjs")
@Scripts.Render("~/bundles/quanlynhanvienjs")

<div class="wrapper" ng-app="QuanLyNhanVienModule" ng-controller="commonCtrl" ng-cloak>

    @Html.Partial("~/Views/Shared/_HeThong_Header.cshtml")

    @Html.Partial("~/Views/Shared/_HeThong_Menu.cshtml")

    <!-- Right side column. Contains the navbar and content of the page -->
    <div class="content-wrapper" ng-controller='QuanLyNhanVienControl' click-event-listener>
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Quản Lý Nhân Viên
            </h1>
            <ol class="breadcrumb">
                <li><a href="Dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li class="active"><i class="fa fa-group"></i> Danh Sách Nhân Viên</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="panel panel-tm1">
                <div class="panel-heading clearfix">
                    <div class="panel-title pull-left">
                        <div class="pull-right">
                            <i class="fa fa-group"></i>&nbsp;
                            Danh Sách Nhân Viên
                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="panel-title"></div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <!-- Start add contents here -->
                        <form class="form-horizontal" role="form">
                            <div class="row">
                                <div class="col-sm-12 col-lg-12">
                                    <div class="form-group col-sm-6">
                                        <label for="ngaythang" class="col-md-3 control-label">
                                            Mã Nhân Viên:
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="tieude"
                                                   name="tieude" maxlength="20"
                                                   ng-model="model.form.timkiem.manhanvien" />
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="matheloai" class="col-md-3 control-label">
                                            Nhóm Quyền:
                                        </label>
                                        <div class="col-md-8">
                                            <select multiple chosen-select
                                                    chosen-deselect="false"
                                                    id="_maquyen"
                                                    muilti-dropdow="true"
                                                    max-selected=""
                                                    ng-model="model.form.timkiem.maquyen"
                                                    data-list="model.data.comboBoxNhomQuyen"
                                                    ng-options="item.MAUQYEN as item.TENQUYEN for item in model.data.comboBoxNhomQuyen">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-lg-12">
                                    <div class="form-group col-sm-6">
                                        <label for="tieude" class="col-md-3 control-label">
                                            Tên Nhân Viên:
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="tieude"
                                                   name="tieude" maxlength="20"
                                                   ng-model="model.form.timkiem.tennhanvien" />
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-6">
                                        <label for="tacgia" class="col-md-3 control-label">
                                            Ngày Sinh:
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="tacgia"
                                                   name="tacgia" maxlength="20"
                                                   ng-model="model.form.timkiem.tacgia" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-lg-12">
                                    <div class="form-group col-md-6">
                                        <label for="noidungtomtat" class="col-md-3 control-label">
                                            Số CMND:
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="tacgia"
                                                   name="tacgia" maxlength="20"
                                                   ng-model="model.form.timkiem.cmnd" />
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="noidungtomtat" class="col-md-3 control-label">
                                            Trạng Thái:
                                        </label>
                                        <div class="col-md-4">
                                            <input bs-switch
                                                   ng-model="model.form.chitiet.xoa"
                                                   type="checkbox"
                                                   switch-active="{{ isActive }}"
                                                   switch-on-text="Mở"
                                                   switch-off-text="Đóng"
                                                   switch-on-color="{{ onColor }}"
                                                   switch-off-color="danger"
                                                   switch-animate="{{ animate }}"
                                                   switch-size="{{ size }}"
                                                   switch-label="{{ label }}"
                                                   switch-icon="{{ icon }}"
                                                   switch-radio-off="{{ radioOff }}"
                                                   switch-label-width="{{ labelWidth }}"
                                                   switch-handle-width="{{ handleWidth }}"
                                                   switch-wrapper="{{ wrapper }}"
                                                   ng-value="'uno'"
                                                   ng-true-value="'1'"
                                                   ng-false-value="'0'"
                                                   switch-inverse="{{ !inverse }}"
                                                   switch-readonly="{{ readonly }}">
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn btn-block btn-primary"
                                                    ng-click="getDanhSachBanTin(model.form.timkiem)">
                                                <i class="glyphicon glyphicon-search"></i>
                                                <spring:message code="quanly.common.button.search" />
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                            </div>
                        </form>
                        <div class="clearfix"></div>
                        <hr class="content-separator">
                        <div class="table-search-sort-paging">
                            <div class="form-inline">
                                <div class="pull-left width-240">
                                    <spring:message code="quanly.common.label.filtered" />
                                </div>
                                <div class="pull-right width-240">
                                    <div class="pull-left">
                                        <label for="searchFilter"
                                               class="title pull-right margin-t-7">Lọc</label>
                                    </div>
                                    <div class="pull-right">
                                        <input type="text" ng-model="searchFilter"
                                               ng-change="model.filter()"
                                               class="form-control width-200 pull-right" id="searchFilter" />
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div id="no-more-tables">
                                <table class="table-bordered table-striped table-condensed table-hover" id="table-search">
                                    <thead class="cf">
                                        <tr>
                                            <th width="1%" class="text-center" style="vertical-align: middle;">
                                                <div class="checkbox checkbox-info">
                                                    <input id="checkAll" name="checkAll" class="styled" type="checkbox">
                                                    <label for="checkAll"></label>
                                                </div>
                                            </th>
                                            <th col-sort predicate="'madanhmuc'" by="predicate" reverse="reverse" width="7%" class="text-center">
                                                Thể Loại
                                            </th>
                                            <th col-sort predicate="'madanhmuc'" by="predicate" reverse="reverse" width="7%" class="text-center">
                                                Tiêu Đề
                                            </th>
                                            <th col-sort predicate="'madanhmuc'" by="predicate" reverse="reverse" width="7%" class="text-center">
                                                Ảnh Đại Diện
                                            </th>
                                            <th col-sort predicate="'madanhmuc'" by="predicate" reverse="reverse" width="17%" class="text-center">
                                                Nội Dung Tóm Tắt
                                            </th>
                                            <th col-sort predicate="'tendanhmuc'" by="predicate" reverse="reverse" width="7%" class="text-center">
                                                Tác Giả
                                            </th>
                                            <th width="5%" class="text-center">Chức Năng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in model.form.filtered = model.form.list | filter : searchFilter |
                											orderBy : predicate : reverse | startFrom : (model.currentPage-1)*model.entryLimit |
                											limitTo : model.entryLimit">
                                            <td data-title="" class="text-center">
                                                <div class="checkbox checkbox-info">
                                                    <input id="checkValues{{row.madanhmuc}}" name="checkValues{{row.madanhmuc}}" class="styled" type="checkbox" value="{{row.madanhmuc}}">
                                                    <label for="checkValues{{row.madanhmuc}}"></label>
                                                </div>
                                            </td>
                                            <td data-title="Mã Bài Viết" class="text-center">
                                                {{row.TENTHELOAI}}
                                            </td>
                                            <td data-title="">
                                                {{row.TIEUDE}}
                                            </td>
                                            <td data-title="">
                                                <img ng-src="~/Images/HinhAnhBanTin/{{row.HINHANH}}" fallback-src="~/Images/imagenotfound.jpg" loading-src="~/Images/imagenotfound.jpg" width="100%" height="100px" />
                                            </td>
                                            <td data-title="">
                                                {{row.NOIDUNGTOMTAT}}
                                            </td>
                                            <td data-title="">
                                                {{row.TENTACGIA}}
                                            </td>
                                            <td data-title="Chức Năng" class="text-center">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <a class="btn btn-default btn-flat" ng-click="delBanTin(row)">
                                                            <i class="fa fa-trash"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <a class="btn btn-default btn-flat" ng-click="goToUpdate(row)">
                                                            <i class="fa fa-pencil"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-show="model.filteredItems == 0">
                                <h4>
                                    Không Tìm Thấy Dữ Liệu
                                </h4>
                            </div>
                            <div class="pull-left margin-t-17">
                                <button class="btn btn-block btn-success"
                                        ng-click="goToAddNew()">
                                    <i class="fa fa-gear"></i>&nbsp;
                                    Thêm Mới
                                </button>
                            </div>
                            <div class="pull-right" ng-show="model.filteredItems > 0">

                            </div>
                        </div>
                        <!-- end add contents here -->
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>

    @Html.Partial("~/Views/Shared/_HeThong_Footer.cshtml")
</div>
